# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/zuki-style.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/zuki-script.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/zuki-flex-slider.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/zuki-flex-slider-style.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/zuki-fitvids.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/zrt_lookup.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/wp-embed.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/visit.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/visit.js(1).download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/verify.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/UFYwWwmt.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/theme.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/t2tv7.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/t2tv7(1).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/style.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/style.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/SocialMediaPostMaker_05102018_130536.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/social-logos.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/sharing.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/Screenshot_20200225-0803292-2.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/Screenshot_20200225-0803292-1.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(9).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(8).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(7).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(6).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(5).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(4).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(3).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(2).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource(1)
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/saved_resource
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/related-posts.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/redir.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/redir(1).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/queuehandler.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/q
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/postmessage.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/pixel.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/PbZvCEkorD5rxjWOexle1_regFmuc5-vrUA2zacPm4s.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/outstream.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/outstream.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/osd_listener.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/osd.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/master.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/l(3)
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/l(2)
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/l(1)
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/l
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/jquery.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/jquery.jetpack-resize.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/jetpack_css.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/j-4201869-2525116.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/img_2848-0.jpg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/IMG_20200225_082714_708.jpg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/IMG_20200225_082642_901.jpg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/IMG_20200225_082603_925.jpg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/IMG_20200225_082603_925-1-scaled.jpg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/iconc.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/HdsydzJK.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/H0ZEmIz7.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/genericons.min.css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/gen_204
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/g.gif
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f36f0645643d714b951ece3d7e7407f6.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f.txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(9).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(8).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(7).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(6).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(5).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(4).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(3).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(2).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(11).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(10).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/f(1).txt
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/event
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/eu-cookie-law.min.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/Enqz_20U.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ed732280294826bdabede9ee771bc057.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ec14b0afbc4a52b0bc04ea617b991ca8.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/eaa0d1516cbdabe1b27a8a181dc56237.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/e1731d70c72cc53fa3a4918232075b4f.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/e-202049.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/dvtp_src.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/dvtp_src.js(1).download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/dvbs_src_internal79.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/dvbs_src.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/dv-measurements632.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/dv-match6.js.download
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/d9core
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/css(1)
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/css
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/cookie_push_onload.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/cookie_push_onload(3).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/cookie_push_onload(2).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/cookie_push_onload(1).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ca3cfb0f2b262a4b7f2af39d5e5a35f6.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/c_IBgpqF_400x400-300x300.jpg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/bst2tv3.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/bsevent.gif
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/bsevent(2).gif
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/bsevent(1).gif
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ae6e93196ceb024b2f5737768c6964a2.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ads.html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ads(4).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ads(3).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ads(2).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/ads(1).html
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/a31b52d09cb92d8087e5bbff8d7ae91c.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/6df827264a1719b71690b8cc49df71a1.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/6789bcc27a67f74c3d9b474d0a095f07.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/5f74c5efddc3780191a8688cc17992c3.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/531d6ffb9a84e47f2e7e38a686edc667.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/43f21e9b2ef31c04e8e8294774eab3ae.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/36afd8fd538ee0ec3845c159113ceb67.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/2525116.gif
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/24a2f05ee237631beba3677d6c225905.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/1c409fd0be935f3cab2bfca0c17facca.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/1b3df26d71e240d6cf5ce864fb0396c2.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/13004151144819608898
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/110e9ea17c985a41c7901d3cf43b99d1.png
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/100fe404bfd36dd9fa7007fba5389b79.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/0db40fc5942bae8607ddefe901896256.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe_files/0418bfea67f640e61eeff0b606723e3d.jpeg
JM_HTML/Gluten-Free Berry Buckwheat Pancakes, 33p – Jack Monroe.html
